body {
    background-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
    margin: 45 15 45 15px;
}
.box{
    width: 750px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}
.main-content {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.title {
    color: #82e6c2;
    text-transform: uppercase;
    margin: 0;
}
.highlight {
    color: #e8a0d0;
}
.highlight-two {
    color: #a79de0;
    font-weight: bold;
}
.highlight-three {
    color: #88DEEA;
    font-weight: bold;
}
hr {
    margin-top: 30px;
    border-width: 0;
    border-top: 2px solid #222;
    width: 80px;
}
a {
    color: #88DEEA;
}
a:hover{
    font-weight: bold;
    text-transform: uppercase;
}
img {
    color: grey;
    margin: 0 15px;
}
.socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .box {
        width: 95%
    }
}
